{% extends "base.html" %}

{%block head%}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">
{%endblock%}

{%block body%}

        {% for entry in data %}
            <div class="middle-section-container">
                <p class="middle-section-p">{{ entry.mtitle}}</p>
                <p class="middle-section-p">{{ entry.title }}</p>
                <p class="timestamp">{{ entry.time }}</p>
            </div>
        {% endfor %}


<div class="flashes-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
{%endblock%}